<div id="businesses">
  <% if current_user.business %>
    <%= render current_user.business %>
  <% else %>
    <%= link_to "New business", new_business_path, class:"btn btn-primary" %>
  <% end %>
</div>
