
<div class="page-header">
  <ul class="list-inline pull-right">
  <li><%= link_to "Mostrar", @catalog, :class=>"btn btn-success" %></li> 
  <li><%= link_to "Atras", catalogs_path, :class=>"btn btn-primary" %></li>
  </ul>
<h1>Actualizar productos รณ servicios</h1>
</div>



<%= render "form", catalog: @catalog %>

<br>
