<div id="<%= dom_id invoice %>">
  <p>
    <strong>Date:</strong>
    <%= invoice.date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= invoice.amount %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= invoice.customer_id %>
  </p>

</div>
