
<div class="d-flex justify-content-center  ">
      <div class="d-flex justify-content-center col-lg-12 grid-margin stretch-card  ">
        <div class="card border border-white rounded-lg col-lg-3">
            <%= render "form", order_item: @order_item %>
            <div class="d-flex justify-content-center">
              <%= link_to "Regresar a artículos ", invoice_order_items_path(@invoice), class:"btn btn-secondary float-end m-2"%>
                <%= link_to "Regresar a facturas", invoices_path, class:"btn btn-secondary float-end m-2"%>
            </div>
        </div>
      </div>
</div>
