<h1>New order item</h1>

<%= render "form", order_item: @order_item %>

<br>

<div>
  <%= link_to "Back to order items", invoice_order_items_path(@invoice) %>
    <%= link_to "Back to invoices", invoices_path %>
</div>
