@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
body {
  font-family: 'Open Sans', sans-serif;
}

.form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 4px;
  border-color: #dfe3e8;
}

.navbar {
  background: #fff;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #dfe3e8;
  border-radius: 0;
}

.navbar .navbar-brand {
  font-size: 20px;
  padding-left: 0;
  padding-right: 50px;
}

.navbar .navbar-brand b {
  color: #29c68c;
}

.navbar a, .navbar a:active {
  color: #999;
  background: transparent;
}

.navbar .navbar-nav a:hover, .navbar .navbar-nav a:focus {
  color: #29c68c !important;
}

.navbar .navbar-nav > a.active, .navbar .navbar-nav.show > a {
  color: #26bb84 !important;
  background: transparent !important;
}

.navbar .form-inline .input-group-text {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 2px 0 0 2px;
  background: #f5f5f5;
  border-color: #dfe3e8;
  font-size: 16px;
}

.navbar .form-inline i {
  font-size: 16px;
}

.navbar .form-inline .btn {
  border-radius: 2px;
  color: #fff;
  border-color: #29c68c;
  background: #29c68c;
  outline: none;
}

.navbar .form-inline .btn:hover, .navbar .form-inline .btn:focus {
  border-color: #26bb84;
  background: #26bb84;
}

.navbar .search-form {
  display: inline-block;
}

.navbar .search-form .btn {
  margin-left: 4px;
}

.navbar .search-form .form-control {
  border-radius: 2px;
}

.navbar .login-form .input-group {
  margin-right: 4px;
  float: left;
}

.navbar .login-form .form-control {
  max-width: 158px;
  border-radius: 0 2px 2px 0;
}

.navbar .navbar-right .dropdown-toggle::after {
  display: none;
}

.navbar .dropdown-menu {
  font-size: 14px;
  border-radius: 1px;
  border-color: #e5e5e5;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.navbar .dropdown-menu a {
  padding: 6px 20px;
}

.navbar .login-dropdown .dropdown-menu {
  width: 505px;
  padding: 20px;
  left: auto;
  right: 0;
}

.navbar .login-dropdown .dropdown-toggle::after {
  display: none;
}

@media (max-width: 768px) {
  .navbar .dropdown-menu {
    width: 100%;
    background: transparent;
    padding: 10px 20px;
  }
  .navbar .input-group {
    width: 100%;
    margin-bottom: 15px;
  }
  .navbar .input-group .form-control {
    max-width: none;
  }
  .navbar .login-form .btn {
    width: 100%;
  }
}

.hero-banner h1 {
  font-size: 48px;
}

.hero-banner .btn {
  position: relative;
  overflow: hidden;
  z-index: 9;
}

.hero-banner .btn-primary {
  color: #2f2f41;
  background-color: rgba(1, 164, 121, 0.1);
  border-color: #01a479;
}

.hero-banner .btn:before {
  content: "";
  background: #25A4AD;
  width: 4px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.hero-banner .btn:hover:before {
  width: 100%;
}

.logo-list {
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.logo-list img {
  display: inline-block;
  max-width: 85%;
  padding: 15px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-filter: grayscale(100);
  -moz-filter: grayscale(100);
  filter: grayscale(100);
}

.logo-list img:hover {
  filter: none;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: none;
  -moz-filter: none;
}

.service-12 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.service-12 h1, .service-12 h2, .service-12 h3, .service-12 h4, .service-12 h5, .service-12 h6 {
  color: #3e4555;
}

.service-12 h6 {
  line-height: 22px;
  font-size: 18px;
}

.service-12 .font-weight-medium {
  font-weight: 500;
}

.service-12 .badge {
  line-height: 14px;
}

.service-12 .badge-info {
  background: #188ef4;
}

.service-12 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.service-12 .card.card-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.service-12 .img-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.3);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.3);
}

.service-12 .wrap-service12 .img-hover {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.service-12 .wrap-service12 .img-hover:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.service-12 .wrap-service12 .uneven-box {
  margin-top: 100px;
}

.service-12 .btn-info-gradiant {
  background: #188ef4;
  background: -webkit-gradient(linear, left top, right top, from(#188ef4), to(#316ce8));
  background: linear-gradient(to right, #188ef4 0%, #316ce8 100%);
}

.service-12 .btn-info-gradiant:hover {
  background: #316ce8;
  background: -webkit-gradient(linear, left top, right top, from(#316ce8), to(#188ef4));
  background: linear-gradient(to right, #316ce8 0%, #188ef4 100%);
}

.service-12 .btn-md {
  padding: 15px 45px;
  font-size: 16px;
}

@media (max-width: 767px) {
  .service-12 .wrap-service-12 .uneven-box {
    margin-top: 0px;
  }
}

.service-11 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.service-11 h1, .service-11 h2, .service-11 h3, .service-11 h4, .service-11 h5, .service-11 h6 {
  color: #3e4555;
}

.service-11 .font-weight-medium {
  font-weight: 500;
}

.service-11 .bg-light {
  background-color: #f4f8fa !important;
}

.service-11 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.service-11 .card.card-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.service-11 .wrap-service11-box {
  margin-top: 60px;
}

.service-11 .wrap-service11-box .icon-space {
  margin: -70px 0 20px;
}

.service-11 .wrap-service11-box .icon-space .icon-round {
  font-size: 45px;
  color: #ffffff;
}

.service-11 .bg-success-gradiant {
  background: #2cdd9b;
  background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}

.service-11 .icon-round {
  width: 80px;
  line-height: 80px;
}

.service-11 .btn-success-gradiant {
  background: #2cdd9b;
  background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}

.service-11 .btn-success-gradiant:hover {
  background: #1dc8cc;
  background: -webkit-gradient(linear, left top, right top, from(#1dc8cc), to(#2cdd9b));
  background: linear-gradient(to right, #1dc8cc 0%, #2cdd9b 100%);
}

.service-11 .btn-md {
  padding: 15px 45px;
  font-size: 16px;
}

.testimonial7 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.testimonial7 h1,
.testimonial7 h2,
.testimonial7 h3,
.testimonial7 h4,
.testimonial7 h5,
.testimonial7 h6 {
  color: #3e4555;
}

.testimonial7 .font-weight-medium {
  font-weight: 500;
}

.testimonial7.bg-light {
  background-color: #f4f8fa !important;
}

.testimonial7 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.testimonial7 {
  background: #188ef4;
  background: -webkit-gradient(linear, left top, right top, from(#188ef4), color-stop(48%, #188ef4), color-stop(48%, #f4f8fa), to(#f4f8fa));
  background: linear-gradient(to right, #188ef4 0%, #188ef4 48%, #f4f8fa 48%, #f4f8fa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$info', endColorstr='$light', GradientType=1);
}

.testimonial7 .testi7 .title {
  margin-top: 80px;
}

.testimonial7 .testi7 .owl-nav {
  float: right;
}

.testimonial7 .testi7 .owl-nav [class*='owl-'] {
  background: transparent;
  color: #8d97ad;
  font-size: 34px;
}

.testimonial7 .testi7 .owl-nav [class*='owl-']:hover {
  color: #263238;
}

@media (max-width: 767px) {
  .testimonial7 {
    background: -webkit-gradient(linear, left top, left bottom, from(#188ef4), color-stop(51%, #188ef4), color-stop(51%, #f4f8fa), to(#f4f8fa));
    background: linear-gradient(to bottom, #188ef4 0%, #188ef4 51%, #f4f8fa 51%, #f4f8fa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$info', endColorstr='$light', GradientType=1);
  }
}

.pricing8 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.pricing8 h1,
.pricing8 h2,
.pricing8 h3,
.pricing8 h4,
.pricing8 h5,
.pricing8 h6 {
  color: #3e4555;
}

.pricing8 h5 {
  line-height: 22px;
  font-size: 18px;
}

.pricing8 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.pricing8 .display-5 {
  font-size: 3rem;
}

.pricing8 .font-14 {
  font-size: 14px;
}

.pricing8 .pricing-box sup {
  top: -20px;
  font-size: 16px;
}

.pricing8 .btn-info-gradiant {
  background: #188ef4;
  background: -webkit-gradient(linear, left top, right top, from(#188ef4), to(#316ce8));
  background: linear-gradient(to right, #188ef4 0%, #316ce8 100%);
}

.pricing8 .btn-info-gradiant:hover {
  background: #316ce8;
  background: -webkit-gradient(linear, left top, right top, from(#316ce8), to(#188ef4));
  background: linear-gradient(to right, #316ce8 0%, #188ef4 100%);
}

.pricing8 .btn-danger-gradiant {
  background: #ff4d7e;
  background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
  background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
}

.pricing8 .btn-danger-gradiant:hover {
  background: #ff6a5b;
  background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
  background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
}

.c2a6 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.c2a6 h1,
.c2a6 h2,
.c2a6 h3,
.c2a6 h4,
.c2a6 h5,
.c2a6 h6 {
  color: #3e4555;
}

.c2a6 .btn-danger {
  background: #ff4d7e;
  border: 1px solid #ff4d7e;
}

.c2a6 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.c2a6 .btn-md {
  padding: 15px 45px;
  font-size: 16px;
}

body {
  background-color: #f3f6fd;
  font-size: 13px;
  font-weight: bold;
  color: #bdc4cb;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul > li {
  padding: 4px;
  color: #C5CAE9;
}

ul > li:hover {
  color: #957bda;
  cursor: pointer;
}

hr {
  border-width: 3px;
}

.card {
  padding: 2% 7%;
}

.social > i {
  padding: 1%;
  font-size: 15px;
}

.social > i:hover {
  color: #957bda;
  cursor: pointer;
}

.policy > div {
  padding: 4px;
}

.heading {
  font-family: 'Titillium Web', sans-serif;
  color: black;
}

.divider {
  border-top: 2px solid;
}
/*# sourceMappingURL=index.css.map */