@media (min-width: 501px) {
    .backgroud {
        box-sizing: border-box;
        position: absolute;
        background-size: 1590px 720px;
        background-image: url(pexels-photo-1319460.jpeg);
    }
    .box1 {
        left: 450px;
        top: 100px;
        border-radius: 40px;
        box-sizing: border-box;
        position: absolute;
        background: linear-gradient(850deg, white, black);
        opacity: 92%;
        height: 510px;
        width: 638px;
    }
    .box2 {
        opacity: 400%;
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 110px;
        border-radius: 6px;
    }
    .title {
        margin-bottom: 54px;
        font-size: 28px;
        font-weight: bold;
        color: white;
        margin-top: 54px;
        font-family: "Inter", sans-serif;
        text-align: center;
    }
    .description {
        padding-top: 36px;
        font-family: "Inter", sans-serif;
        padding-left: 16px;
        font-size: 14px;
        color: rgb(62, 62, 62);
    }
    .new_admin {
        padding-left: 16px;
        font-family: "Inter", sans-serif;
    }
    .login {
        margin-bottom: 36px;
    }
    .link_s {
        color: black;
    }
    .button_login {
        width: 465px;
        font-family: "Inter", sans-serif;
        background-color: black;
        color: white;
        border-radius: 10px;
        padding: 10px 0px;
        border: none;
        margin-bottom: 20px;
    }
    .input_devise {
        width: 440px;
        background: #f5f5f5;
        border-radius: 10px;
        border: none;
    }
    .label_devise {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: rgb(62, 62, 62);
    }
    .logo {
        transform: scaleY(0);
        transform: scaleX(0);
        @media (min-width: 501px) {
            position: relative;
            left: 110px;
            transform: scaleY(1);
        }
    }
}