<table>
<tr>
<th>No.factura</th><th>cliente</th><th>monto</th>
</tr>
<%@report_monthly.each do |column|%>
  <tr>
<th><%= column.id %></th><th><%= column.customer.full_name %></th><th><%= column.amount %></th>
</tr>
<% end %>
</table>