<div class="container text-center py-5">
  <footer class="d-flex flex-wrap align-items-center border-top fixed-bottom", style="background-color:white;">
    <p class="col-md-4 mb-0 px-5 text-muted">&copy; 2022 Serenity App</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <%=image_tag "logo", class:"d-block mx-lg-auto img-fluid navbar-brand", width:"160", height:"80" %>
    </a>

    <p class="col-md-4 mb-0 px-5 text-muted">
      <a href="http://www.brightcoders.com/" class="nav-link px-2 text-muted">Brightcoders</a>
    </p>
  </footer>
</div>