<section id="precios" class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Nuestros precios</h1>
        <p class="lead text-muted">En Serenity no te obligamos a contratar paquetes estándar, te lo hacemos a medida para que sólo pagues por lo que realmente contribuya a la mejora y simplificación de tu negocio. Tus necesidades son lo único que importa. </p>
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <%= image_tag "pricing", class:"mx-lg-auto img-fluid", width:"200", height:"200", align:"center" %>
        </div>
      </div>
      </div>
    </div>
</section>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Increible herramienta para la gestión de mi negocio</h1>
        <p class="lead text-muted">Con Serenity tengo en un solo lugar todo lo que necesito para optimizar el correcto funcionamiento de mi negocio, además de que me olvide de los metodos tradicionales como el papel y lapiz, puedo obtener reportes y pagar comisiones a mis estilistas a tiempo ¡lo mejor! </p>
        <h6 class="mt-4 mb-0 font-weight-normal">Silvia Rodriguez</h6>
        <span>Dueña de salón de Belleza “Beauty Women”</span>
      </div>
    </div>
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <%= image_tag "hero", class:"d-block mx-lg-auto img-fluid rounded-circle pt-4" %>
        </div>
    </div>
</section>
<div class="py-5 c2a6", style="background:white;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h3 class="mb-3">Genera más ingresos por cada cliente </h3>
        <h6 class="subtitle font-weight-normal">Puedes confiar en nuestra increíble lista de características y también nuestro servicio de atención al cliente será una gran experiencia para ti sin duda y en poco tiempo</h6>
        <%= link_to "Ganar más con Serenity", new_user_registration_path, class:"btn btn-danger btn-md mt-3" %>
        <%=image_tag "banner", class:"d-block mx-lg-auto img-fluid navbar-brand" %>
      </div>
    </div>
  </div>
</div>